@import url("https://themes.googleusercontent.com/static/fonts/roboto/v9/Pru33qjShpZSmG3z6VYwnT8E0i7KZn-EPnyo3HZu7kw.woff");

:root{
  --purple500: #281154;
  --purple300: #270082;
  --purple600: #1b0058;
  --red600: #dc0000;
  --body: #f9f6ff;
  --max-width:1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  font-family: "Roboto",sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
}

section{
  scroll-margin: 50px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #fc0093;
  color: #f8f8f8;
}

.music{
  box-align:center;
}


button{
  padding: 10px 15px;
  border: none;
  transition: 0.2 ease-in-out;
}

button:hover{
  opacity: 0.8;
  transition: 0.2 ease-in-out;
}
ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}

header{
  background-color: var(--purple300);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

nav{
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding: 10px 0;
}

.logo{
  font-size: 32px;
  font-weight: 600;
}

nav ul{
  display: flex;
  gap: 20px;
}

nav ul li{
  border-bottom: 2px solid transparent;
  transition: 0.2s ease-in;
}

nav ul li:hover{
  border-bottom: 2px solid white;
  transition: 0.2s ease-in;
}

.heroSection{
  background-image: url(images/hero5.webp);
  background-repeat: no-repeat;
  background-size: cover;
   height:500px;
   background-position: center center;
  background-clip: border-box;
  background-attachment: fixed;
  width: auto;
  display: grid;
  color: white;
  place-items: center;
  text-align: center;
}

.heroSection .container{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.heroSection h1{
  font-size: 96px;
}

.heroSection h3{
  font-size: 32px;
}

/* .heroSection p{
  color: rgb(255, 238, 0);
} */

.musicSection h2{
  display: flex;
}

.musicSection h2 div{
  padding-top: 10px;
}

.musicSection{
  padding-top: 50px;
  background-color: var(--purple500);
  color: white;
}


.musicSection .container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.musicSection .container h4{
  justify-content: center;
  text-align: center;
}


.ipadIphoneImg{
  margin-top: -250px;
  position: relative;
  top: 250px;
}

.primaryBtn{
  background-color: var(--red600);
  color: white;
}

.secondaryBtn{
  background-color: var(--purple300);
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

.aboutMusic{
  padding-top: 300px;
  display: grid;
  place-items: center;
  gap: 50px;
  text-align: center;
  justify-content: center; 
  line-height: 1.8;
}

.videoSection{
  margin-top: 20px;
  background-image: url(images/video.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 550px;
  display:grid;
  background-size: cover;
  place-items: center;
  text-align: center;
  color: white;
}

.videoSection .container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  text-align: center;
  margin-top: -200px;
  color: #ffffff;
  font-weight: 300;
}

.videoSection .container h3{
  font-size: 25px;
}




.giftSection{
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: 0;
  gap: 50px;
  scroll-margin: 100px;
}

.giftContent{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  text-align: center;
}


.footerUpper{
  background-color: var(--purple600);
  padding: 20px;
}

.footerUpper .container{
  display: flex;
  color: white;
  justify-content: space-between;
}

.footerUpper h4{
  padding: 3px;
  border-bottom: 2px solid white;
}

.footerUpper ul{
  margin-top: 8px;
}

.footerLower{
  background-color: var(--purple300);
  padding: 20px;
  display: flex;
  justify-content: center;
  color: white;
}