* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 18px;
  }
  
  a {
    color: #003249;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .desktop {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    border-bottom: 2px solid #003249;
  }
  
  .logo {
    display: flex;
  }
  
  .logo span {
    text-transform: uppercase;
    font-weight: bold;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }

  nav ul li a {
    margin-left: 16px;
  }
  
  a {
    color: #003249;
    text-decoration: none;
  }
  
  #banner {
    padding: 32px 24px;
    display: flex;
  }
  
  #banner .main-content {
    width: 60%;
    height: auto;
}

#banner .main-content img {
  width: 100%;
  height: auto;
}

#banner .info-content{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    margin-left: 40px;
}

#banner .info-content h3 {
    font-size: 2rem;
    line-height: 1.8rem;
  }
  
  #banner .info-content p {
    font-size: 1rem;
    margin: 32px 0 24px 0;
    font-weight: 600;
  }
  
  .button {
    color: white;
    border: 0;
    font-family: "Oxygen", sans-serif;
    font-size: 1rem;
    padding: 8px 4px;
    border: 2px solid darkred;
    text-align: center;
    text-decoration: none !important;
    background-color: darkred;
  }
  
  .button:hover {
    color: darkred;
    border: 2px solid darkred;
    background-color: white;
  }
  




/* Section 2 Code START */
#information-section{
  display: flex;
}

#information-section .main-content{
  padding: 32px 24px;
}

#information-section .main-content .media-container{
  width: 100%;
  height: auto;
}

#information-section .main-content .media-container img{
  width: 100%;
  height: auto;
}

#information-section .main-content h3 {
  font-size: 2rem;
  line-height: 1.8rem;
  margin: 32px 0 24px 0;
}

#information-section .info-content{
  min-width: 423px;
  margin-top: 0.5rem;
}

#information-section .info-content .content-image-box{
  display: flex;
    min-height: 168px;
}

#information-section .info-content .content-image-box .media-container{
  max-width: 33%;
    height: auto;
    margin: 16px;
}

#information-section .info-content .content-image-box .media-container img{
  width: 100%;
  height: auto;
}

#information-section .info-content .content-image-box .text-content {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  margin-right: 8px;
}

#information-section .info-content .content-image-box .text-content h4{
  font-size: 1.5rem;
}

#information-section .info-content .content-image-box .text-content p {
  font-size: 0.8rem;
  margin: 8px 0;
}

#information-section .info-content .content-image-box .text-content a{
  text-decoration: underline;
}
/* Section 2 Code END */






/* Section 3 Code START */
  #courses-section h2{
    font-family: "Rufina", serif;
    font-size: 2rem;
    padding: 32px 0 16px 0;
    text-align: center;
  }

  #courses-section .courses-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
}

#courses-section .courses-row .course {
  width: 30%;
  margin: 16px;
  padding-bottom: 24px;
  text-decoration: none;
}

#courses-section .courses-row .course .media-container {
  width: 100%;
  height: auto;
}

#courses-section .courses-row .course .media-container img {
  width: 100%;
  height: auto;
}

#courses-section .courses-row .course .text-content {
  padding: 16px 16px;
}

#courses-section .courses-row .course .text-content h3 {
  font-size: 1.5rem;
  margin: 16px 0;
}

#courses-section .courses-row .course .text-content h4 {
  font-size: 1rem;
  margin: 8px 0;
}

#courses-section .courses-row .course .text-content p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
/* Section 3 Code END */



/* Section 4 Code START */
#thesis-section h2 {
  font-size: 2rem;
  padding: 32px 0;
  text-align: center;
}

#thesis-section .flex-content {
  width: 100%;
  display: flex;
}

#thesis-section .flex-content .main-content .media-container{
  height: auto;
  width: 100%;
  padding-left: 24px;
}

#thesis-section .flex-content .main-content .media-container video {
  height: auto;
  width: 100%;
}

.holder-thesis-txt {
  margin: 24px 0 32px 24px;
}

#thesis-section .flex-content .main-content h3 {
  font-size: 1.5rem;
  margin: 16px 0;
  margin-left: 20px;
}

#thesis-section .flex-content .main-content p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-left: 20px;
  font-size: 20px;
}

#thesis-section .flex-content .info-content {
  min-width: 423px;
  margin-left: 16px;
}

#thesis-section .flex-content .info-content .content-image-box {
  min-height: 168px;
  display: flex;
  align-items: center;
}

#thesis-section .flex-content .info-content .content-image-box .media-container {
  max-width: 35%;
  height: auto;
  margin: 16px;
}

#thesis-section .flex-content .info-content .content-image-box .media-container img {
  width: 100%;
    height: auto;
}
/* Section 4 Code END */


/* Footer Code START */
footer {
  color: #003249;
  padding: 0 24px;
  border-top: 2px solid #003249;
  display: flex;
  justify-content: space-between;
}

footer a {
  display: inline-block;
  margin: 16px 0 0 16px;
  text-decoration: underline;
}

.copyright {
  display: block;
  padding: 16px 0;
}
/* Footer Code END */


  .holder-img-header {
    width: 60%;
    height: auto;
  }
  
  .img-header {
    width: 100%;
    height: auto;
  }
  
  .holder-learn {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    margin-left: 40px;
  }
  
  #practice {
    display: flex;
  }
  
  #practice h1 {
    font-size: 2rem;
    line-height: 1.8rem;
    margin: 32px 0 24px 0;
  }
  
  #practice h3 {
    font-size: 1.5rem;
  }
  
  #practice h4 {
    font-size: 0.8rem;
    margin: 8px 0;
  }
  
  #practice a {
    text-decoration: underline;
  }
  
  #practice a:hover {
    text-decoration: none;
  }
  
  .holder-practice-main {
    padding: 32px 24px;
    border-right: 1px solid #007ea7;
  }
  
  .holder-img-practice {
    width: 100%;
    height: auto;
  }
  
  .img-practice {
    width: 100%;
    height: auto;
  }
  
  .quoted {
    margin: 20px 0;
    font-weight: bold;
  }
  
  .holder-campus-info {
    min-width: 423px;
  }
  
  .campus-info-single {
    display: flex;
    min-height: 168px;
    border-bottom: 1px solid #007ea7;
  }
  
  .holder-img-campus-info {
    max-width: 33%;
    height: auto;
    margin: 16px;
  }
  
  .img-campus-info {
    width: 100%;
    height: auto;
  }
  
  .img-campus-info-mobile {
    display: none;
  }
  
  .campus-info-text {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    margin-right: 8px;
  }
  
  #learning {
    padding-bottom: 16px;
  }
  
  #learning h1 {
    font-family: "Rufina", serif;
    font-size: 2rem;
    padding: 32px 0 16px 0;
    text-align: center;
  }
  
  #learning h2 {
    font-size: 1.5rem;
    margin: 16px 0;
  }
  
  #learning h3 {
    font-size: 1rem;
    margin: 8px 0;
  }
  
  .holder-courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
  }
  
  .holder-course {
    width: 30%;
    margin: 16px;
    padding-bottom: 24px;
  }
  
  .holder-course-txt {
    padding: 16px 16px;
  }
  
  .holder-course-img {
    width: 100%;
    height: auto;
  }
  
  .course-img {
    width: 100%;
    height: auto;
  }
  
  #thesis h1 {
    font-size: 2rem;
    padding: 32px 0;
    text-align: center;
  }
  
  #thesis h3 {
    font-size: 1.5rem;
  }
  
  #thesis h4 {
    font-size: 0.8rem;
    margin: 8px 0;
  }
  
  .holder-thesis {
    width: 100%;
    display: flex;
  }
  
  .holder-vid {
    height: auto;
    width: 100%;
    padding-left: 24px;
  }
  
  video {
    height: auto;
    width: 100%;
  }
  
  .holder-thesis-txt {
    margin: 24px 0 32px 24px;
  }
  
  .holder-thesis-txt p {
    margin-top: 16px;
  }
  
  .holder-thesis-info {
    min-width: 423px;
    margin-left: 16px;
  }
  
  .thesis-info-single {
    min-height: 168px;
    display: flex;
    align-items: center;
  }
  
  .holder-thesis-img {
    max-width: 35%;
    height: auto;
    margin: 16px;
  }
  
  .thesis-img {
    width: 100%;
    height: auto;
  }
  
  .thesis-info-txt {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    margin-right: 8px;
  }
  footer {
    color: #003249;
    padding: 0 24px;
    border-top: 2px solid #003249;
    display: flex;
    justify-content: space-between;
  }
  .copy {
    display: block;
    padding: 16px 0;
  }
  footer a {
    display: inline-block;
    margin: 16px 0 0 16px;
    text-decoration: underline;
  }
  footer a:hover {
    text-decoration: none;
  }
  